body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 2em 0;
    position: relative;
    height: auto;
    
}

/* #imagee{
    height: 100%;
    width: 100%;
    z-index: 1;
} */

header img {
    height: 100%;
    max-height: 150px;
    border-radius: 50%;
    animation: fadeIn 1s ease-in-out;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header h1 {
    margin: 0;
    font-size: 2em;
    animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.container {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.project {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.interests {
    display: flex;
    flex-wrap: wrap;
}

.interests-item {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.interests-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}